<div class='container-fluid' style=" padding-right:0px!important;">

    
      <app-nav-menu></app-nav-menu>
    
    
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <nav class=" navbar navbar-inverse" style="width:100%;padding: 0 65px;">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" herf="#"> Chat Application </a>
              </div>
              <ul class="nav navbar-nav" style="float:right;">
                <li class="active">
                  <button type="button" class="btn btn-danger btn-sm" style="float:right;margin-top:10px;margin-left:3px" (click)="logOut()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                  </button>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
 </div>
